
.pose-detection-container{
    height: 600px;
    width: 800px;
}

.visual-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 800px;
    z-index: 10;
}

.canvas-conatiner{
    z-index: 100;
}